<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flex Buttons Example</title>
<link rel="stylesheet" href="./static/styles.css">
</head>
<body>

    <div class='first-container'>
        <h1 class='header'>
            Data Insights and Visualization
        </h1>
        <p>Please click below buttons in order to get data, section analysis and its graphical representation</p>
    </div>
    <div class="button-container">
        <a href="/dataframe" class="flex-button" data-link="https://www.example.com">Dataframe</a>
        <a href="/dataframe/highlevel" class="flex-button">Overview</a>
        <a href="/dataframe/locationwise" class="flex-button">Location Insight</a>
        <a href="/dataframe/commissiontrend" class="flex-button">Commission Insight</a>
        <a href="/dataframe/discountsoffers" class="flex-button">Offers Insight</a>
        <a href="/dataframe/popularpaymentmethod" class="flex-button">Payment Method Insight</a>
        <a href="/dataframe/timevariantanalysis" class="flex-button">Expense - Time</a>
    </div>

</body>
</html>
